.container {
    max-width: 100%;
    margin: auto;
}

.heading {
    display: flex;
    gap: 15%;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name {
    margin-left: 8%;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.coin__img__container {
    height: 12rem;
    width: 8rem;
    margin-top: 2.2rem;
}

.coin__list__rank h3 {
    color: var(--color-white);
    font-size: 1.5rem;
    margin-top: 5rem;
    max-width: 30%;
}

.coin__list__name h3 {
    color: var(--color-white);
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 7.8rem;
    margin-left: 1.1rem;
    color: var(--color-white);
}

/* Coin info CSS starts here */

.coininfo-container .content-card {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(0, 173, 145), rgb(140, 81, 248));
    box-shadow: 0px 0px white;
    border-radius: 5px;
}

.title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.coin-rank {
    margin: .5 0;
}

.rank-btn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: green;
    padding: 2px;
    margin-top: 3px;
}

.coin-logo {
    margin-top: 5px;
    margin-right: 8px;
    width: 50px;
    max-height: auto;
}

.coin-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coin-info .coin-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.coin-info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(63, 63, 63);
}

.coin-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.coin-stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.coin-stats .row p:first-child {
    color: whitesmoke;

}

.coin-information h3 {
    margin: 1rem 0;
    text-align: center;

}

.coin-information p {
    margin: 1rem .25rem;
    padding: .5rem 1.5rem;
}

.coin-information a {
    color: yellow;
}

@media screen and (max-width: 700px) {
    .coininfo-container .content-card {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .coin-stats {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}